extends template-header

block page-content
  div.Main
    h1.Header
    div.Section.Type1
      div.Title
        h1 Page Title
        span This text is inline.
      div.Body
        p This is a block paragraph.
    div.Section.Type2
      div.Body
        p This is a block paragraph in a different section.