
/*
Remove this text and the brackets to use the #root id;
this will apply to everything
#root {

}
*/

/* Applies to all content on the page */
.Main {
  background-color: AliceBlue;
}

/* Applies to every div.Section */
.Section {
  margin: 10px 10px 10px 10px;
  border-style: solid;
}

/* Applies to every div.Section.Type1 */
.Section.Type1 {
  border-color: Red;
}

/* Applies to every div.Section.Type2 */

.Section.Type2 {
  border-color: Blue;
}